[
    {connscale, [
         {listen_port, 8989},
         {server, {130,75,72,13}}, % server IP
         {client1, 'name1.domain.de'}, % client1 hostname
         {client2, 'name2.domain.de'}, %client2 hostname
         {acceptors, 20}, % number of concurrent acceptors
         {cookie, yakenlassie}, % shared cookie
         {ebin_dir, '/path/to/ebin/dir/on/remote/node'}
    ]}
].
