[
    {server, [
         {listen_port, 8989}, % port number of the listen socket
         {acceptors, 20}, % number of concurrent acceptors
         {backlog, 128}, % length of the accept queue of the listen port

         % these are only used for rclient
         {server, {130,75,72,13}}, % server IP
         {cookie, yakenlassie}, % shared cookie
         {client1, 'name1.domain.de'}, % client1 hostname
         {client2, 'name2.domain.de'}, % client2 hostname
         {ebin_dir, '/path/to/ebin/dir/on/remote/node'}
    ]}
].
